@page "/apps/messages"
@layout Layout.DeviceLayout

<AppContainer AppName="Messages">
    <div id="messagesContainer" class="messages-container">
        @foreach (var message in _chatMessages)
        {
            <div class="message @message.Role">
                <label>@message.Role</label>
                <p>@((MarkupString)Markdig.Markdown.ToHtml(message.Text))</p>
            </div>
        }

        @if (StreamingMessage.Length > 0)
        {
            <div class="message assistant">
                <label>Assistant</label>
                <p>@((MarkupString)Markdig.Markdown.ToHtml(StreamingMessage))</p>
            </div>
        }
    </div>

    <div class="input-container">
        <EditForm Model="this" OnSubmit="Submit">
            <div class="input-group">
                <InputText @bind-Value="@InputField" placeholder="Type your message here..." autocomplete="off"/>
                <button type="submit" class="submit-button">Send</button>
            </div>
        </EditForm>
    </div>
</AppContainer>
